(
    bounding_box: (
        min: (
            x: -2.08,
            y: -2.08,
            z: -2.08,
        ),
        max: (
            x: 2.08,
            y: 2.5,
            z: 2,
        ),
    ),
    objects: [
        Receiver((
            geometry: {
                "Aabb": (
                    min: (
                        x: -2.08,
                        y: 2,
                        z: -2.08,
                    ),
                    max: (
                        x: 2.08,
                        y: 2.08,
                        z: 2,
                    ),
                ),
            },
            bsdf: (
                bxdfs: [
                    {
                        "OrenNayar": (
                            r: (
                                data: (0.14175, 0.19125, 0.31725, 0.495, 0.60825, 0.6465, 0.65775, 0.663, 0.66824996, 0.67200005, 0.67425, 0.678, 0.68025, 0.68175, 0.68325, 0.6825, 0.68325, 0.68549997, 0.68474996, 0.68700004, 0.68625003, 0.68700004, 0.68549997, 0.68625003, 0.6885, 0.68925, 0.69075, 0.69225, 0.693, 0.6915, 0.6915, 0.69375, 0.69525, 0.6975, 0.6975, 0.69975),
                            ),
                            a: 0.86516786,
                            b: 0.25882423,
                        ),
                    },
                ],
            ),
        )),
        Receiver((
            geometry: {
                "Aabb": (
                    min: (
                        x: -2.08,
                        y: -2.08,
                        z: -2.08,
                    ),
                    max: (
                        x: -2,
                        y: 2.08,
                        z: 2,
                    ),
                ),
            },
            bsdf: (
                bxdfs: [
                    {
                        "OrenNayar": (
                            r: (
                                data: (0.0375, 0.03675, 0.036, 0.03525, 0.03525, 0.03525, 0.03525, 0.03525, 0.0345, 0.03375, 0.033, 0.033, 0.03375, 0.0345, 0.03525, 0.036, 0.03675, 0.0375, 0.0405, 0.044999998, 0.053999998, 0.078, 0.13350001, 0.234, 0.35025, 0.43574998, 0.48299998, 0.50625, 0.5175, 0.5235, 0.5295, 0.53625, 0.543, 0.5475, 0.55050004, 0.5535),
                            ),
                            a: 0.86516786,
                            b: 0.25882423,
                        ),
                    },
                ],
            ),
        )),
        Receiver((
            geometry: {
                "Aabb": (
                    min: (
                        x: -2.08,
                        y: -2.08,
                        z: -2.08,
                    ),
                    max: (
                        x: 2.08,
                        y: 2.08,
                        z: -2,
                    ),
                ),
            },
            bsdf: (
                bxdfs: [
                    {
                        "OrenNayar": (
                            r: (
                                data: (0.14175, 0.19125, 0.31725, 0.495, 0.60825, 0.6465, 0.65775, 0.663, 0.66824996, 0.67200005, 0.67425, 0.678, 0.68025, 0.68175, 0.68325, 0.6825, 0.68325, 0.68549997, 0.68474996, 0.68700004, 0.68625003, 0.68700004, 0.68549997, 0.68625003, 0.6885, 0.68925, 0.69075, 0.69225, 0.693, 0.6915, 0.6915, 0.69375, 0.69525, 0.6975, 0.6975, 0.69975),
                            ),
                            a: 0.86516786,
                            b: 0.25882423,
                        ),
                    },
                ],
            ),
        )),
        Receiver((
            geometry: {
                "Aabb": (
                    min: (
                        x: 2,
                        y: -2.08,
                        z: -2.08,
                    ),
                    max: (
                        x: 2.08,
                        y: 2.08,
                        z: 2,
                    ),
                ),
            },
            bsdf: (
                bxdfs: [
                    {
                        "OrenNayar": (
                            r: (
                                data: (0.039, 0.03975, 0.0405, 0.041249998, 0.04275, 0.04425, 0.04575, 0.0495, 0.056250002, 0.06975, 0.09375, 0.13350001, 0.18450001, 0.23025, 0.25275, 0.2505, 0.23775, 0.21975002, 0.1965, 0.1725, 0.1485, 0.12375, 0.10125001, 0.08625, 0.078, 0.0735, 0.0705, 0.069, 0.06975, 0.07275, 0.0765, 0.081, 0.08475, 0.08625, 0.0855, 0.0855),
                            ),
                            a: 0.86516786,
                            b: 0.25882423,
                        ),
                    },
                ],
            ),
        )),
        Receiver((
            geometry: {
                "Aabb": (
                    min: (
                        x: -2.08,
                        y: -2.08,
                        z: -2.08,
                    ),
                    max: (
                        x: 2.08,
                        y: -2,
                        z: 2,
                    ),
                ),
            },
            bsdf: (
                bxdfs: [
                    {
                        "OrenNayar": (
                            r: (
                                data: (0.14175, 0.19125, 0.31725, 0.495, 0.60825, 0.6465, 0.65775, 0.663, 0.66824996, 0.67200005, 0.67425, 0.678, 0.68025, 0.68175, 0.68325, 0.6825, 0.68325, 0.68549997, 0.68474996, 0.68700004, 0.68625003, 0.68700004, 0.68549997, 0.68625003, 0.6885, 0.68925, 0.69075, 0.69225, 0.693, 0.6915, 0.6915, 0.69375, 0.69525, 0.6975, 0.6975, 0.69975),
                            ),
                            a: 0.86516786,
                            b: 0.25882423,
                        ),
                    },
                ],
            ),
        )),
        Receiver((
            geometry: {
                "Bubble": (
                    inner: (
                        center: (
                            x: 0,
                            y: 0.026666665,
                            z: 0,
                        ),
                        radius: 0.92,
                    ),
                    outer: (
                        center: (
                            x: 0,
                            y: 0,
                            z: 0,
                        ),
                        radius: 1,
                    ),
                ),
            },
            bsdf: (
                bxdfs: [
                    {
                        "FresnelSpecular": (
                            r: (
                                data: (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1),
                            ),
                            t: (
                                data: (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1),
                            ),
                            eta_i: Air,
                            eta_t: Glass,
                            fresnel: (
                                eta_i: Air,
                                eta_t: Glass,
                            ),
                        ),
                    },
                ],
            ),
        )),
        Emitter((
            geometry: {
                "Sphere": (
                    center: (
                        x: 0,
                        y: 2,
                        z: 0,
                    ),
                    radius: 0.5,
                ),
            },
            bsdf: (
                bxdfs: [],
            ),
            emission: (
                data: (0.378, 0.51, 0.846, 1.32, 1.622, 1.724, 1.754, 1.768, 1.782, 1.792, 1.798, 1.808, 1.814, 1.818, 1.822, 1.82, 1.822, 1.828, 1.826, 1.832, 1.83, 1.832, 1.828, 1.83, 1.836, 1.838, 1.842, 1.846, 1.848, 1.844, 1.844, 1.85, 1.854, 1.86, 1.86, 1.866),
            ),
        )),
    ],
    camera: {
        "PerspectiveCamera": (
            Sampler: Random,
            Position: (
                x: 0,
                y: 0,
                z: 4,
            ),
            Target: (
                x: 0,
                y: 0,
                z: 0,
            ),
            Up: (
                x: 0,
                y: 1,
                z: 0,
            ),
            FovY: 70,
            Resolution: (
                x: 512,
                y: 512,
            ),
        ),
    },
)