( 
    config: (
        filename: Some("cornell_on_target.png"),
        // bounds: Some((
        //     min: (
        //         x: 192,
        //         y: 192,
        //     ),
        //     max: (
        //         x: 320,
        //         y: 320,
        //     ),
        // )),
        block_size: (
            x: 32,
            y: 32,
        ),
        passes: 10000000,
        threads: None,
    ),
    camera: {
        "PerspectiveCamera": (
            Sampler: Random,
            Position: (
                x: 0,
                y: 0,
                z: 4,
            ),
            Target: (
                x: 0,
                y: 0,
                z: 0,
            ),
            Up: (
                x: 0,
                y: 1,
                z: 0,
            ),
            FovY: 70,
            Resolution: (
                x: 256,
                y: 256,
            ),
        ),
    },
    integrator: {
        // "Path": (
        //     max_depth: 8,
        // ),
        "SpectralPathSingle": (
            max_depth: 8,
            light_wave_samples: 6,
            direct_light_strategy: All,
            spectral_sampler: Hero,
        ),
    },
    sampler: Random,
    scene: (
        bounding_box: (
            min: (
                x: -2.08,
                y: -2.08,
                z: -2.08,
            ),
            max: (
                x: 2.08,
                y: 2.25,
                z: 2,
            ),
        ),
        objects: [
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: 2,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: -2,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Red),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: -2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: 2,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Green),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: -2,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: 0.5,
                            y: -1.5,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Constant(1),
                                t: Constant(1),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Glass,
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Emitter((
                geometry: {
                    // "Point": ((
                    //     x: 0,
                    //     y: 1.937,
                    //     z: 0,
                    // )),
                    "Sphere": (
                        center: (
                            x: -1,
                            y: 1,
                            z: -1,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [],
                ),
                emission: MulColor(4, White),
            )),
        ],
    ),
)
