(
    config: (
        filename: Some("./prism.png"),
        bounds: None,
        block_size: (
            x: 16,
            y: 16,
        ),
        passes: 10000,
        threads: Some(4),
    ),
    camera: {
        "PerspectiveCamera": (
            Sampler: Random,
            Position: (
                x: 0,
                y: 5,
                z: 5,
            ),
            Target: (
                x: 0,
                y: 0,
                z: 0,
            ),
            Up: (
                x: 0,
                y: 1,
                z: 0,
            ),
            FovY: 35,
            Resolution: (
                x: 512,
                y: 512,
            ),
        ),
    },
    integrator: {
        "SpectralPath": (
            max_depth: 128,
            light_wave_samples: 6,
            spectral_sampler: Hero,
        ),
    },
    sampler: Random,
    scene: (
        bounding_box: (
            min: (
                x: -100,
                y: -5,
                z: -100,
            ),
            max: (
                x: 100,
                y: 2,
                z: 100,
            ),
        ),
        objects: [
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -100,
                            y: -5,
                            z: -100,
                        ),
                        max: (
                            x: 100,
                            y: 0,
                            z: 100,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Grey1),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Mesh": (
                        Vertices: [
                            // 0: LEFT BACK
                            (
                                x: -1,
                                y: 0.00001,
                                z: -1,
                            ),
                            // 1: RIGHT BACK
                            (
                                x: 1,
                                y: 0.00001,
                                z: -1,
                            ),
                            // 2: TOP BACK
                            (
                                x: 0,
                                y: 1.7320508075689,
                                z: -1,
                            ),
                            // 3: LEFT FRONT
                            (
                                x: -1,
                                y: 0.00001,
                                z: 1,
                            ),
                            // 4: RIGHT FRONT
                            (
                                x: 1,
                                y: 0.00001,
                                z: 1,
                            ),
                            // 5: TOP FRONT
                            (
                                x: 0,
                                y: 1.7320508075689,
                                z: 1,
                            ),
                        ],
                        VertexNormals: [], // Optional, may be omitted
                        Faces: [
                            // BACK
                            (
                                v: (0, 2, 1),
                                vn: None,
                            ),
                            // FRONT
                            (
                                v: (3, 4, 5),
                                vn: None,
                            ),
                            // LEFT BOT
                            (
                                v: (0, 3, 2),
                                vn: None,
                            ),
                            // LEFT TOP
                            (
                                v: (3, 5, 2),
                                vn: None,
                            ),
                            // RIGHT BOT
                            (
                                v: (1, 2, 4),
                                vn: None,
                            ),
                            // RIGHT TOP
                            (
                                v: (2, 5, 4),
                                vn: None,
                            ),
                            // BOT LEFT
                            (
                                v: (0, 1, 3),
                                vn: None,
                            ),
                            // BOT RIGHT
                            (
                                v: (1, 4, 3),
                                vn: None,
                            ),
                        ],
                        Bounds: (
                            min: (
                                x: -1,
                                y: 0.00001,
                                z: -1,
                            ),
                            max: (
                                x: 1,
                                y: 1.7320508075689,
                                z: 1,
                            ),
                        ),
                        ShadingMode: Flat,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Constant(1),
                                t: Constant(1),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear10,
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Emitter((
                geometry: {
                    "Sphere": (
                        center: (
                            x: -2,
                            y: 1,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [],
                ),
                emission: Color(White),
            )),
        ],
    ),
)