(
    config: (
        filename: Some("./prism.png"),
        bounds: None,
        block_size: (
            x: 16,
            y: 16,
        ),
        passes: 1000000,
        threads: None,
    ),
    camera: {
        "PerspectiveCamera": (
            Sampler: Random,
            Position: (
                x: 0,
                y: 4,
                z: 4,
            ),
            Target: (
                x: 0,
                y: 0.5,
                z: 0,
            ),
            Up: (
                x: 0,
                y: 1,
                z: 0,
            ),
            FovY: 25,
            // FovY: 5,
            Resolution: (
                x: 512,
                y: 128,
            ),
        ),
    },
    integrator: {
        "SpectralPath": (
            max_depth: 8,
            light_wave_samples: 6,
            direct_light_strategy: All,
            spectral_sampler: Hero,
        ),
    },
    sampler: Random,
    scene: (
        bounding_box: (
            min: (
                x: -100,
                y: -5,
                z: -100,
            ),
            max: (
                x: 100,
                y: 2,
                z: 100,
            ),
        ),
        objects: [
            // Floor
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -100,
                            y: -5,
                            z: -100,
                        ),
                        max: (
                            x: 100,
                            y: 0,
                            z: 100,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "LambertianReflection": (
                                r: Constant(1),
                            ),
                        },
                    ],
                ),
            )),
            // Reflection Wall
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: 3,
                            y: 0,
                            z: -1,
                        ),
                        max: (
                            x: 3.1,
                            y: 2,
                            z: 1,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "LambertianReflection": (
                                r: Constant(1),
                            ),
                        },
                    ],
                ),
            )),
            // Prism
            Receiver((
                geometry: {
                    "Mesh": (
                        Vertices: [
                            // 0: LEFT BACK
                            (
                                x: -1,
                                y: 0.00001,
                                z: -1,
                            ),
                            // 1: RIGHT BACK
                            (
                                x: 0.1,
                                y: 0.00001,
                                z: -1,
                            ),
                            // 2: TOP BACK
                            (
                                x: 0,
                                y: 1.7320508075689,
                                z: -1,
                            ),
                            // 3: LEFT FRONT
                            (
                                x: -1,
                                y: 0.00001,
                                z: 1,
                            ),
                            // 4: RIGHT FRONT
                            (
                                x: 1,
                                y: 0.00001,
                                z: 1,
                            ),
                            // 5: TOP FRONT
                            (
                                x: 0,
                                y: 1.7320508075689,
                                z: 1,
                            ),
                        ],
                        Faces: [
                            // BACK
                            (
                                v: (0, 2, 1),
                                vn: None,
                            ),
                            // FRONT
                            (
                                v: (3, 4, 5),
                                vn: None,
                            ),
                            // LEFT BOT
                            (
                                v: (0, 3, 2),
                                vn: None,
                            ),
                            // LEFT TOP
                            (
                                v: (3, 5, 2),
                                vn: None,
                            ),
                            // RIGHT BOT
                            (
                                v: (1, 2, 4),
                                vn: None,
                            ),
                            // RIGHT TOP
                            (
                                v: (2, 5, 4),
                                vn: None,
                            ),
                            // BOT LEFT
                            (
                                v: (0, 1, 3),
                                vn: None,
                            ),
                            // BOT RIGHT
                            (
                                v: (1, 4, 3),
                                vn: None,
                            ),
                        ],
                        bounds: (
                            min: (
                                x: -1,
                                y: 0.00001,
                                z: -1,
                            ),
                            max: (
                                x: 1,
                                y: 1.7320508075689,
                                z: 1,
                            ),
                        ),
                        shading_mode: Flat,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Constant(1),
                                t: Constant(1),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Sapphire,
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Emitter((
                geometry: {
                    "Sphere": (
                        center: (
                            x: -2.5,
                            y: 1,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [],
                ),
                emission: Color(White),
            )),
            // Light Block Bottom
            // Receiver((
            //     geometry: {
            //         "Aabb": (
            //             min: (
            //                 x: -1.01,
            //                 y: -1,
            //                 z: -100,
            //             ),
            //             max: (
            //                 x: -1,
            //                 y: 0.995,
            //                 z: 100,
            //             ),
            //         ),
            //     },
            //     bsdf: (
            //         bxdfs: [],
            //     ),
            // )),
            // // Light Block Top
            // Receiver((
            //     geometry: {
            //         "Aabb": (
            //             min: (
            //                 x: -1.01,
            //                 y: 1.005,
            //                 z: -100,
            //             ),
            //             max: (
            //                 x: -1,
            //                 y: 2,
            //                 z: 100,
            //             ),
            //         ),
            //     },
            //     bsdf: (
            //         bxdfs: [],
            //     ),
            // )),
            // // Light Block Left
            // Receiver((
            //     geometry: {
            //         "Aabb": (
            //             min: (
            //                 x: -1.01,
            //                 y: 0.995,
            //                 z: -100,
            //             ),
            //             max: (
            //                 x: -1,
            //                 y: 1.005,
            //                 z: -0.025,
            //             ),
            //         ),
            //     },
            //     bsdf: (
            //         bxdfs: [],
            //     ),
            // )),
            // // Light Block Right
            // Receiver((
            //     geometry: {
            //         "Aabb": (
            //             min: (
            //                 x: -1.01,
            //                 y: 0.995,
            //                 z: 0.025,
            //             ),
            //             max: (
            //                 x: -1,
            //                 y: 1.005,
            //                 z: 100,
            //             ),
            //         ),
            //     },
            //     bsdf: (
            //         bxdfs: [],
            //     ),
            // )),
        ],
    ),
)
